/* Step indicator start*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.progress-indicator{
    margin:0;
    padding: 0;
    display: flex;
}

.progress-indicator li{
  list-style: none;
  text-align: center;
  width: auto;
  padding: 0%;
  margin: 0;
  position: relative;
  text-overflow: ellipsis;
  color: #bbb;
  display: block;
}
.progress-indicator li span{
  border-radius: 30px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color:#3498db;
  display: block;
  margin: 0 auto 0 auto;
  border: 1px solid #3498db;
  line-height: 30px;
}

.progress-indicator > li.completed span {
  background-color: #f5f5f5;
  color: #fff;
  border-color: #3498db;
}

/* Step indicator end*/


/*Form Wizard*/
.bs-wizard {border-bottom: none; padding: 0 0 10px 0; font-family: 'Oleo Script', cursive; font-size: 28px; }
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #f2dede; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #660000; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #f2dede;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.profile-thumbnail .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-thumbnail  .nav > li {
  display: block;
  padding: 2px;
}
.profile-thumbnail .panel-body{
	padding-bottom:5px;
}

.groom-repeat .panel-default:hover{
 border-color:#ff005d;
 }

.groom-repeat  .panel-default:hover > .panel-heading{
 background:#ff005d;
 color: #fff;
 }
 
 .brides-repeat .panel-default:hover{
 border-color:#ff005d;
 }

.brides-repeat  .panel-default:hover > .panel-heading{
 background:#ff005d;
 color: #fff;
 }

	.form-group.required .control-label:after { 
   content:"*";
   color:red;
}
.pink{ color: #ff005d;}
.blue{ color: #1fd0f6;}
 .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

 .is-error{
  background: red;
  display: inherit;
  margin-top:0px;
  border-radius: 0px 0px 5px 5px;
  padding: 5px;
  width: auto;
 } 
 /* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
/*
.groom-repeat{ 
  overflow:hidden; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  }
 
 .wrapper > .col-sm-2 {
  flex: 1 auto;
}
  
.groom-repeat > .ng-enter           { animation: scaleUp 0.9s both ease-in; z-index: 8888; }
.groom-repeat >.ng-leave           { animation: scaleUp 0.9s both ease-in; z-index: 8888; }
*/
.groom-repeat .panel-default{}

.footer { padding-bottom:20px;}
.footer .list-unstyled li{ display:inline-block; padding-right:15px;}

.footer .list-unstyled li a{ color:#777;}


/* Profile container */

/* Profile sidebar */
.profile-sidebar {
  padding: 0px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #444444;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #d9230f;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fcfcfc;
  color: #444444;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #444444;
  background-color: #fcfcfc;
  border-left: 2px solid #444444;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.tab-content > .active{
background:#fcfcfc;
border:1px solid #dddddd;
border-top:none;
padding:10px;
}
.navbar-nav > li > a.mm-nav-search{  padding-bottom: 0px;  padding-top: 5px; background: transparent;}
.navbar-nav > li > a.mm-nav-search:hover{  padding-bottom: 0px;  padding-top: 5px; background: transparent;}
.x1-top{ margin-top:5px;}
.panel-heading strong{ font-size: 10px;}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.logo-icon {
  overflow: hidden;
  text-align: left;
  padding-bottom: 20px;
  cursor: default;
  font-size: 24px;
  color:#ff005d;
}
.logo-icon .heart {
  top: .8em;
  width: 50px;
  height: 50px;
}

.logo-icon * {
  display: inline-block;
}
.logo-icon .alpha,
.logo-icon .omega {
  /*width: 100%;*/
}
.logo-icon .alpha {
  text-align: right;
}
.logo-icon .omega {
  text-align: left;
}
.logo-icon .heart {
  margin: 0 -2px;
  position: relative;
  z-index: 3;
  -webkit-animation: throb 1.33s ease-in-out infinite;
  animation: throb 1.33s ease-in-out infinite;
}
.logo-icon .heart path {
  fill: #ff005d;
}


@-webkit-keyframes throb {
  0% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes throb {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

