
<div class="row">
          <div class="col-lg-12">
<h1>Thank you <span class="pink">{{profileInfo.firstName}}
            {{profileInfo.lastName}}</span> </h1>
<p>  You have successfully submitted the evaluation</p>

</div>
</div>

<div class="row">
	<div class="col-lg-12" >
    <form name="upload" class="form" data-ng-submit="single(image)"> 
        <h4>Please Upload your photo</h4>
        <div data-ng-show="msg" class="alert alert-success">
          <strong>Success!</strong> {{msg}}
        </div>
        <div data-ng-show="errorMsg" class="alert alert-danger">
          <strong>Error</strong> {{errorMsg}}
        </div>
        <div class="well bs-component">
            <div class="row">
               <img ng-show="image" width="250" height="250" ng-src="{{image.url}}" type="{{image.file.type}}"/> 
            
            <div class="col-lg-3"> <img width="250" height="250" ng-src="{{image.uploadedImgSrc}}" /> </div>
           <div class="col-lg-3"> Browse&hellip; <input id="inputImage" type="file" accept="image/*" image="image" class="form-control" />
            <button type="reset" class=" btn btn-sm x1-top btn btn-default">Clear</button>
            <button  type="submit" class=" btn btn-sm x1-top btn-primary" >Upload</button></div>

             </div>

         
        </div>

            
            
        <hr />
      
    </form>  
	</div>

</div>


