<!-- footer part start here -->
	<hr>
	<footer class="footer">
	   <div class="row">
          <div class="col-lg-8">
            <ul class="list-unstyled">
              <li><a href="#home">Home</a></li>
              <li><a href="#rules">Rules</a></li>
		      <li><a href="#registration">Enroll</a></li>
			  <li><a href="#grooms">Grooms</a></li>
			  <li><a href="#brides">Brides</a></li>
			  <li><a href="#stories">Stories</a></li>
		   </ul>			
          </div>
		  <div  class="col-lg-4"><p class="text-right">&copy; MatchMaker 2015</p></div>
        </div>
	</footer>

<!-- ************* footer end  ************* -->
